@import "tailwindcss";
@import "@nuxt/ui";

@theme {
    --font-sans: 'Karla';
  
    --color-primary: #A3E635;
    --color-secondary: #2DD4BF;

    --color-dark-100: #0E0C15;
    --color-dark-200: #14111E;

    --color-light-100: #E4E1F0;
    --color-light-200: #B8B5C2;
    --color-light-300: #868491;

    --color-circle: #1E1B4B;

    --text-m-sm: 0.75rem;
    --text-m-md: 0.875rem;
    --text-m-base: 1rem;

    --text-m-3xl: clamp(1.875rem, 6.5vw, 3.125rem);

    --text-d-sm: 1rem;
    --text-d-md: 1.125rem;
    --text-d-base: 1.25rem;
    --text-d-lg: 1.375rem;
    --text-d-xl: 2rem;
    --text-d-2xl: 3.75rem;
    --text-d-3xl: clamp(3rem, 5vw, 5rem);

    --text-m-big: clamp(2rem, 5vw, 4rem);
    --text-d-big: clamp(4.5rem, 6.5vw, 7.5rem);

    --leading-tight: 100%;
    --leading-base: 135%;
}

:root {
    --ui-primary: var(--color-primary);
    --ui-secondary: var(--color-secondary);
    --ui-neutral: var(--color-light-100);

    --ui-bg: var(--color-dark-100);
    --ui-text: var(--color-light-100);

    --header-height: 7rem;
}


@layer components {
    .gradient-text {
        @apply inline-block bg-gradient-to-r from-primary to-secondary text-transparent bg-clip-text
    }

    .anim-underline {
        display: block;
        position: relative;
    
        &:before {
            content: '';
            position: absolute;
            left: 50%;
            bottom: 0;
            width: 0px;
            height: 1px;
            border-radius: 2rem;
            transform: translateX(-50%);
            transition: width 0.3s;
    
            @apply bg-light-100;
        }
    
        &:hover:before {
            width: 35%;
        }
    }
}

.container {
    @apply px-5 max-w-[90rem] sm:px-10 lg:px-5 lg:mx-auto
}